apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- github.com/argoproj/argo-cd//manifests/cluster-install?ref=v2.10.3

## changes to config maps
patches:
- path: argocd-cm-patch.yml

namespace: argocd